/* index.html的样式 */
body {
    font-family: "Microsoft Yahei";
}

#logo {
    margin-left: 10%;
}

#function {
    margin-left: 30%;
}

#function li {
    margin-right: 50px;
}

#user {
    margin-left: 60%;
}

#footer {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    position: relative;
    display: block;
    padding: 20px;
    margin-top: 5%;
}

#myCarouse .carousel-control.left {
    left: 0;
    background-image: url(../images/news-arrow_prev.png);
}

#myCarouse .carousel-control.right {
    right: 0;
    background-image: url(../images/news-arrow_next.png);
}

#myCarouse .carousel-control {
    display: block;
    position: absolute;
    top: 0;
    z-index: 10;
    height: 100%;
    width: 50px;
    background: rgba(0, 0, 0, 0) no-repeat center center;
    cursor: pointer;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
}

#myCarouse .carousel-inner img {
    width: 1200px;
    height: 400px;
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
        -ms-transform: translateY(-20px);
    }

    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -ms-transform: translateY(0);
    }
}

.characterOverImage {
    display: inline;
    position: absolute;
    color: rgb(255, 255, 255);
    top: 50%;
    left: 48%;
    font-size: xx-large;
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

.animated {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

/* user.html的样式 */
#profile {
    vertical-aligin: center;
}

a.dropdown-toggle:link, a.dropdown-toggle:hover, a.dropdown-toggle:visited, a.dropdown-toggle:active {
    text-decoration: none;
    text-color: black;
}

#main {
    height: 500px;
}

#function-list .list-group-item {
    border: none;
    border-top: grey;
}

.context p {
    text-align: justify;
    text-justify: inter-ideograph;
    text-indent: 2em;
}

/* questionlist.html的样式 */
div.question-list h2{
    margin-left: 60px;
    font-size: 24px;
}

div.question-list p {
    margin-left: 60px;
}

div#page {
    margin-top: 5%;
    margin-left: 20%;
}
