/* 这是user.html的样式 */

img.img-rounded {
    position: relative;
    left: 25%;
}
div#user-name span{
    position: relative;
    left: 25%;
}

#side hr{
    margin: 10px;
    background-color: gainsboro;
    border: none;
    height: 1px;
}

a.dropdown-toggle:link,a.dropdown-toggle:hover, a.dropdown-toggle:visited, a.dropdown-toggle:active{
    text-decoration: none;
    text-color: black;
}

#function-list{
    padding: 0;
    margin-top: 5%;
    margin-left: 25%;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    display:inline-block;
}
.function-list{
    margin-top: 5%;
    margin-left: 25%;
    box-sizing: border-box;
    display:inline-block;
}
.dropdown ul{
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    display:inline-block;
}

.user-button label,.dropdown ul li {
    display: block;
    width: 200px;
    background: #ECF0F1;
    opacity: 0.7;
    padding: 15px 20px;
}
#basic label:hover, #basic label, #basic input{
    color: #03a9f4;
    border-right: 4px solid #03a9f4;
}
#questionnaire label:hover, #questionnaire label, #questionnaire input{
    color: #ffc107;
    border-right: 4px solid #ffc107;
}
#safe label:hover, #safe label, #safe input{
    color: #ff8888;
    border-right: 4px solid #ff8888;
}
#basic label:hover
{
    background: #03a9f4;
    color:white;
}
#questionnaire label:hover
{
    background:#ffc107;
    color:white;
}
#safe label:hover
{
    background: #ff8888;
    color:white;
}

.user-button label {
    border-radius: 5px 0 0 0;
    position: relative;
    z-index: 2;
}
.user-button input{
    display: none;
}

.animate {
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    /* Chrome and Safari */
    -moz-backface-visibility: hidden;
    /* Firefox */
    -ms-backface-visibility: hidden;
    /* Internet Explorer */
}
/***************************This is for the basicInfo.html**************************/

#info-content input:disabled {
    background-color: #ffffff;
}
#info-content input{
    border:none;
    vertical-align: middle;
}
#content section{
    display: inline;
}
section.v-item input {
    width: 20%;
}
section.b-item input{
    width: 40%;
}
span.coin{
    background:url("../images/coin.png") no-repeat 1px 12px;
    display: inline-block;
    padding-right:15px;
}
p button {
    position:relative;
    left: 32%;
}

#v-info label{
    text-align: right;
    width: 150px;
}
